\documentclass[11pt]{beamer}
\usetheme{Warsaw}

\include{meta.tex}
\include{colors.tex}

\usepackage[utf8]{inputenc}
\usepackage[english]{babel}
\usepackage{amsmath}
\usepackage{amsfonts}
\usepackage{amssymb}
\usepackage{graphicx}
\author{ Samuel \textsc{ORTION} }
\title{ Flash-Cards Formules Chimiques \\\nBiochimie Métabolique }
\setbeamercovered{transparent} 
\setbeamertemplate{navigation symbols}{} 
\logo{\includegraphics[width=0.15\textwidth]{./media/univ-evry.fr-logo.noir.png}} 
\institute{ Université d'Évry val d'Essone - Paris-Saclay } 
\date{ 2022 }
\subject{ Biochimie Métabolique } 

\begin{document}

\begin{frame}
\titlepage
\end{frame}

\begin{frame}
\tableofcontents
\end{frame}

{{ frames }}

\end{document}